##########################
## Letsencrypt Settings ##
##########################

domains=(sub.yourdomain.tld)  # Domain to be included in LE Cert (currently only one domain supported)
rsa_key_size=4096             # KeySize for the dummy-cert (needs to be 4k from nginx 1.18 upwards)
le_data_path="./env/certbot"  # Path to LE Cert files and dummy-cert files
email="yourmail@provider.tld" # Adding a valid address is strongly recommended
staging=0                     # Set to 1 if you're testing your setup to avoid hitting LE rate limits

##############
## Fail2Ban ##
##############

# General Settings
F2B_TZ="Europe/Zurich" # Timezone of your server
F2B_MAX_RETRY=3        # Max failed logins for a block

# Note: there are some actions which should not be changed directly in the file ./env/fail2ban/fail2ban.env

# SMTP Server Settings, so you get an email when an IP has been blocked
F2B_SSMTP_HOST=smtp.sendgrid.net
F2B_SSMTP_PORT=587
F2B_SSMTP_USER=apiorusername
F2B_SSMTP_PASSWORD="yoursupersecreteapikeyorpassword"
F2B_SSMTP_TLS=YES

# Ban Settings

F2B_bantime=10800 # ban for 3 hours

# "ignoreip" can be an IP address, a CIDR mask or a DNS host.
# Fail2ban will not ban a host which matches an address in this list.
# Several addresses can be defined using space separator.
F2B_ignoreip="127.0.0.1/8 73.176.154.35"

# failed attempts must occur within the 10-minute
F2B_findtime=600

# how many attempts can be made before a ban is imposed
F2B_maxretry=3

F2B_ban_action="%(action_mwl)s" #action_mwl will block the ip and mail you -- 'action_' will only block the ip

############################
## KDBX Database Settings ##
############################

# if true, a new empty kdbx will be created (secrets.kdbx) if no other
# kdbx files found in folder 'kdbx_file_path'. Set to false, to import an existing kdbx
kdbx_create_new=true
# path to the folder containing your kdbx files (default ./env/database/)
kdbx_file_path="./data/database"
#kdbx_file_path="./data/database-example" #only for testing
